.scene-visualization-overlay {
    min-width: 180px;
    padding: 4px;
}

.scene-visualization-overlay__color-row {
    flex-direction: row;
    align-items: center;
}

.scene-visualization-overlay__color-field {
    flex-grow: 1;
    margin-left: 2px;
}

.scene-visualization-overlay__color-field > .unity-base-field__label {
    width: 70px;
    min-width: 70px;
    flex-grow: 0;
    flex-shrink: 0;
}

.scene-visualization-overlay__color-field > .unity-base-field__input {
    flex-grow: 1;
}
